<h1> owner</h1>
<input style="width:50%; height:50px;" type="text" placeholder="id" [(ngModel)]="owner"  >
<h1>UPC_code</h1>
<input style="width:50%; height:50px;" type="text" placeholder=" code" [(ngModel)]="UPC_code"  >
<h1>category</h1>
<input style="width:50%; height:50px;" type="text" placeholder="category" [(ngModel)]="category"  >
<h1> name</h1>
<input style="width:50%; height:50px;" type="text" placeholder=" name" [(ngModel)]="name"  >
<h1> Price</h1>
<input style="width:50%; height:50px;" type="text" placeholder="product price" [(ngModel)]="price" >
<h1>Description</h1>
<input style="width:50%; height:50px;" type="text" placeholder="product description" [(ngModel)]="description"  >
<h1>Quantity</h1>
<input style="width:50%; height:50px;" type="text" placeholder="product quantity" [(ngModel)]="quantity"  >
<h1>Image</h1>
<input style="width:50%; height:50px;" type="text" placeholder="product ImgURL" [(ngModel)]="image"  >
<br>
<br>
<button (click)="onSubmit()"  style="width:100px; margin-left:25%; height:50px"  value="login">Submit</button>



