<form class="container">
    <br>
            <span><span class="B2Bcolor">B2B</span>
            <span class="color">Home</span>
            <span class="color"> <button type="products" class="type" >Products</button></span>
            <a><span class="color">About us</span></a>
            <span class="color">wishlist</span>
            <span class="color">Contact Us</span>
            <span class="color"><img src="https://www.pinclipart.com/picdir/big/496-4968268_profile-icon-png-white-clipart.png"> Account</span>
        <br>
        <br>
            <form class="topbanner">
              <div class="topbar">
                      <input align="center" type="text" class="search icon-rtl" placeholder="Search Products and more" ><span class="text"><img class="form" src="https://www.nicepng.com/png/full/231-2317477_clip-art-black-and-white-stock-shopping-clip.png">Add to cart</span>
                      
                    
              </div>
              <br>
              <br>
              <br>
              <br>
              <span class="product">Product Image</span>
              <span class="product">Product Description</span> 
              <span class="product">Product Quantity</span>  
              <span class="product">Product Price</span>  
              <br>
              <div class="main">
             <span> <img  class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHA9Jpr7v59HJrtthWnnG3muBEZzxJf3dLUw&usqp=CAU"></span>
             <input class="card" type="text" placeholder="Add Description" style="text-align:  center;">
           <input type="number" class="card1" style="text-align:center; color:white;border: 0px;" placeholder="qty ">
           <input type="text" class="card2" style="color: white; text-align: center;" placeholder="$" value="200$">
           <button class="card2" style="color:white" type="submit">Save</button>           
              </div>
              <div class="add">+Add Product</div>
                
  </form>
  
  