
    <img style="height:200%" src="/assets/bussiness edit.jpg" alt="Snow">
    <div class="top-left">B2B
        <div class="page">
            <div class="index">
                <label class="font">Are you a manufacturer</label>
                <input class="radio" style="background-color: #3F9CE2;" type="radio" value="are you a manufacturer">
                <div class="page2">
                    <div class="main">
                   <span style="margin-right:8%; font-size: 40px; margin-top: 2%;" > Role Base Access</span><i class="fa fa-check-circle" style="color:green; margin-top: 2%;; " aria-hidden="true" ></i><br>
                   <span style="margin-right:5%; font-size: 40px; margin-top: 2%;">  Inventory Manufacturer</span><i class="fa fa-check-circle" style="color:green ; margin-top: 2%; margin-right: 6.5%;" aria-hidden="true"></i>
                </div><br>
                <div class="main">
                    <span style="margin-left:-3%; font-size:40px; margin-top:-1%; ">Poin of Scale</span><i class="fa fa-check-circle" style="color:green; margin-left: 2%; margin-top:-1%" aria-hidden="true"></i>
                   <span style="margin-right:7%; font-size: 40px; margin-top: -1%;">Logistics</span><i class="fa fa-check-circle" style="color:green;margin-right: 2%; margin-top:-1%; " aria-hidden="true"></i>
                </div>
            </div>
            <label class="font">Are you a dealer</label>
                <input class="radio1" type="radio" value="are you a dealer">
                <div class="page3">
                <div class="main">     
                   <span  style="margin-right:11%; margin-top: 2%; font-size: 40px;">Role Base Access</span><i class="fa fa-times-circle" style="color:red; margin-top: 2%; margin-left: -2%;" aria-hidden="true"></i><br>
                   <span style="margin-right:5%; margin-top: 2%; font-size: 40px;">  Inventory Manufacturer</span><i class="fa fa-check-circle" style="color:green; margin-top: 2%; margin-right:6.5%;" aria-hidden="true"></i>
                </div><br>
                <div class="main">
                    <span style="margin-right:15%; font-size: 40px;margin-top:-1%;">Point of scale</span><i class="fa fa-times-circle" style="color:red; margin-left: -4%; margin-top:-1%;" aria-hidden="true"></i>
                    <br>
                   <span style="margin-right:15%;margin-top:-1%; font-size: 40px;"> Logistics</span><i class="fa fa-check-circle" style="color:green; margin-top:-1%; margin-right: 6.5%;" aria-hidden="true"></i>
                </div>
                
                <a href=""><button style="background-color: #3F9CE2; color: white; border: 0px; border-radius: 7px; width: 150px; height: 50px; margin-left: 45%; font-size: large;"  type="submit">Continue</button></a>
            </div>
        </div> 
    </div>
</div>

    


